@charset "UTF-8";


#follow-table {
	display: flex;
	flex-direction: column;
}



ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	/* background: #ededed; */
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}
table td{
	padding: 5px 10px;
	border-bottom:1px solid;
}
thead th{
	border:2px solid;	
}
tr:hover{
	background:lightgreen;
}

table a:hover{
	text-decoration: underline;
}
table a{
	text-decoration: none;
	color: black; 
}

tr>td:nth-child(4){
	font-weight: bolder;
	text-align: center;
}
.window{
	font-family:'';
}
