@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

caption {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.mypost_list_wrap {
    padding: 5px;
}

.mypost_list {
    width: 100%;
    border-top: 2px solid white;
}

.mypost_list tr {
    border-bottom: 1px solid #ccc;
}

.mypost_list th,
.mypost_list td {
    padding: 3px;
    font-size: 14px;
}

.mypost_list td {
    text-align: center;
}

.board_list .tit {
    text-align: left;
}

.board_list .tit:hover {
    text-decoration: underline;
}

.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .pagination_section a:first-child {
    margin-left: 0;
}

.board_list_wrap .pagination_section a.bt {
    border: 1px solid #eee;
    background: wh;
}

.board_list_wrap .pagination_section a.num {
    border: 1px solid black;
    font-weight: 600;
    color: black;
}

.board_list_wrap .pagination_section a.num.on {
    background: black;
    color: #fff;
}