@charset "UTF-8";

table {
	width: 750px;
	margin: auto;
	border-collapse: collapse;
	
}

#job-table {
	display: flex;
	flex-direction: column;
}

body {
	display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

.container {
	width: 650px;
	margin: 0 auto;
}


ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none; 
	/* background: #ededed; */
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}
table td{
	padding: 5px 10px;
	border-bottom:1px solid;
}
thead th{
	border:2px solid;	
}
tr:hover{
	background:lightgreen;
}

table a:hover{
	text-decoration: underline;
}
table a{
	text-decoration: none;
	color: black; 
}
tr>td:nth-child(1){
	font-weight: bolder;
}
tr>td:nth-child(4){
	font-weight: bolder;
	text-align: center;
}
.window{
	font-family:'';
}
.pagination_section{
	font-size:initial;
}

.pagination_section a:first-child {
    margin-left: 0;
}

.pagination_section a.bt {
    border: 1px solid #eee;
    background: white;
}

.pagination_section a.num {
    border: 1px solid black;
    font-weight: 600;
    color: black;
}

.pagination_section a.num.on {
    background: black;
    color: #fff;
}