<!DOCTYPE html>
<html>
<head>
  <title>HelloIt_Login</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://unpkg.com/98.css" />

  <style>

body {
    height: 100vh;
    background: url(./img/backck.webp) no-repeat center;
    background-size: cover;
}

  </style>

</head>

<body>
    <center>
        <div class="window" style="margin: 32px; width: 250px">
            <div class="title-bar">
                <div class="title-bar-text">
                    Hello IT
                    
                </div>
            </div>
            <img src="./img/hello.gif" alt="error" width="150" >
    <div class="window-body">
      <h4>Please Login</h4>
      <input type="text" placeholder= "ID :" /><br>
      <input type="text"placeholder="PW :" /><br>
      <br>
      <button>Login</button>
      <button>Sign-in</button>
      <br>
      <br>
      
      <a href="">회원이 아니신가요?</a>
<br>

    </div>
    
</div>
</center>
</body>
</html>
