<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.CareerInfoDAO">
		
		<!-- 커리어 저장 -->
		<insert id="insertMyCareer" 
			parameterType="com.smhrd.entity.CareerInfo"> 
			INSERT INTO career_info
			VALUES
			    (CAREER_INFO_SEQ.nextval, 
			     #{career_period}, 
			     #{career_content}, 
			     #{u_email}
			     )
		</insert>
		
		<!-- 커리어 수정 -->
		<update id="updateMyCareer"
				parameterType="com.smhrd.entity.CareerInfo">
				UPDATE career_info
				SET
				    career_period = #{career_period}, 
				    career_content = #{career_content}, 
				    u_email = #{u_email}
				WHERE u_email = #{u_email}
		</update>

</mapper>