<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.PostInfoDAO">

	<select id="commentInfoList" resultType="com.smhrd.entity.CommentInfo">
		select * from comment_info
		where post_seq=#{post_seq}
	</select>
	
	<insert id="commentInfoWrite" parameterType="com.smhrd.entity.CommentInfo">
		insert into comment_info
		values(
			comment_info_seq.nextval,
			#{post_seq},
			#{cmt_content},
			sysdate,
			#{u_email},
			0,
			0
		)
	</insert>
	
	<select id="cmtLikesView" parameterType="com.smhrd.entity.CommentInfo" resultType="int">
		select count(*)
		from like_info
		where cmt_seq=#{cmt_seq}
	</select>

</mapper>