<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.IdeaDAO">

	 <select id="getListWithPagingIdea"
 		resultType="com.smhrd.entity.PostInfo"> 
     select * from (select rownum as row_num, post_info.* from post_info
     				where post_kind='idea' order by row_num desc) p, user_info u
     where  p.u_email=u.u_email  
     and row_num between 1+(#{n}-1)*10 and #{n}*10

  </select>

	<select id="getListSizeIdea" resultType="java.lang.Integer">
		select * from (select rownum as row_num, post_info.* from post_info where post_kind='idea' order by row_num desc) 
		<!-- 
		유저이메일을 매개변수로 갖고 오기 
		p, user_info u where p.u_email = u.u_email and u_email=#{u_email} -->
			
	</select>
</mapper>