<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.IdeaDAO">

	 <select id="getListWithPagingIdea"
 		resultType="com.smhrd.entity.PostInfo"> 
		select rownum as row_num, idea.* 
		from (select p.*,u_name from post_info p, user_info u
		        where p.u_email=u.u_email and p.post_kind='idea' order by post_dt) idea
		where rownum between 1+(#{n}-1)*10 and #{n}*10
		order by row_num desc

	</select>

	<select id="getListSizeIdea" resultType="java.lang.Integer">
		select * from (select rownum as row_num, post_info.* from post_info where post_kind='idea' order by row_num desc) 
		<!-- 
		유저이메일을 매개변수로 갖고 오기 
		p, user_info u where p.u_email = u.u_email and u_email=#{u_email} -->
			
	</select>
	
	<!-- 아이디어토론방 게시글 클릭시 조회수 1씩 증가 -->
	<update id="ideaPostCnt" parameterType="java.lang.Integer">
		update post_info set cnt = cnt+1 where post_seq = #{post_seq}
	</update>
	
	
</mapper>