<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.PostInfoDAO">

	<!-- 좋아요 추가 -->
	<insert id="likeInfoInsert" parameterType="com.smhrd.entity.LikeInfo">
		insert into like_info
		values(
			like_info_seq.nextval,
			#{u_email},
			#{post_seq},
			null
		)
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="likeInfoDelete" parameterType="com.smhrd.entity.LikeInfo">
		delete from like_info
		where u_email=#{u_email}
		and post_seq=#{post_seq}
	</delete>
	
	<!-- 좋아요수 갱신 -->
	<update id="likesUpdate" parameterType="com.smhrd.entity.LikeInfo">
		update post_info
		set likes = (select count(*)
						from like_info
						where post_seq=#{post_seq}
					)
		where post_seq=#{post_seq}
	</update>
	
	<!-- 좋아요 기록 조회 -->
	<select id="likeSearch" parameterType="com.smhrd.entity.LikeInfo" 
	resultType="com.smhrd.entity.LikeInfo">
		select * from like_info 
		where u_email = #{u_email}
		and post_seq = #{post_seq}
	</select>
	
	<!-- 댓글 좋아요 추가 -->
	<insert id="cmtLikeInfoInsert" parameterType="com.smhrd.entity.LikeInfo">
		insert into like_info
		values(
			like_info_seq.nextval,
			#{u_email},
			null,
			#{cmt_seq}
		)
	</insert>
	
	<!-- 댓글 좋아요 취소 -->
	<delete id="cmtLikeInfoDelete" parameterType="com.smhrd.entity.LikeInfo">
		delete from like_info
		where u_email=#{u_email}
		and cmt_seq=#{cmt_seq}
	</delete>
	
	<!-- 댓글 좋아요수 갱신 -->
	<update id="cmtLikesUpdate" parameterType="com.smhrd.entity.LikeInfo">
		update comment_info
		set cmt_likes = (select count(*)
						 from like_info
						 where cmt_seq=#{cmt_seq}
						)
		where cmt_seq=#{cmt_seq}
	</update>
	
	<!-- 댓글 좋아요 기록 조회 -->
	<select id="cmtLikeSearch" parameterType="com.smhrd.entity.LikeInfo" 
	resultType="com.smhrd.entity.LikeInfo">
		select * from like_info 
		where u_email = #{u_email}
		and cmt_seq = #{cmt_seq}
	</select>
	
</mapper>