<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.MyPageInfoDAO">
	
	<!-- 마이페이지 저장 -->
	<insert id="insertMyPage" 
			parameterType="com.smhrd.entity.MyPageInfo"> 
			INSERT INTO my_page_info
			VALUES
			    (#{u_email}, 
			     #{u_introduction}, 
			     #{u_idea}, 
			     #{u_interest}
			     )
	</insert>
	
	<!-- 마이페이지 수정 -->
	<update id="updateMyPage"
			parameterType="com.smhrd.entity.MyPageInfo">
			UPDATE my_page_info
			SET
				u_email = #{u_email},
				u_introduction = #{u_introduction},
				u_idea = #{u_idea},
				u_interest = #{u_interest}
	</update>
	

</mapper>

