<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.PostInfoDAO">

	<!-- 게시글 전체 리스트 조회 -->
	<select id="postInfoList" resultType="com.smhrd.entity.PostInfo">
		select * from  post_info p, user_info u
		where p.u_email = u.u_email
		order by post_dt desc
	</select>
	
	<!-- 본인 게시글 리스트 조회 -->
	<select id="userPostInfoList" resultType="com.smhrd.entity.PostInfo">
		select * from  post_info p, user_info u
		where p.u_email = u.u_email
		and p.u_email = #{u_email}
		order by post_dt desc
	</select>
	
	<!-- 북마크 게시글 리스트 조회 -->
	<select id="bookmarkPostInfoList" resultType="com.smhrd.entity.PostInfo">
		select * from  post_info p, user_info u
		where p.u_email = u.u_email
		and p.post_seq in (select post_seq
							from bookmark_info
							where u_email=#{u_email}
		)
		order by post_dt desc
	</select>
	
	<!-- 맞춤형 게시글 리스트 조회 -->
	<select id="customizedPostInfoList" resultType="com.smhrd.entity.PostInfo">
		select distinct * from post_info p, user_info u
		where 
		post_seq in (select post_seq 
					from post_level
					where tag_seq||tag_level in ( select tag_seq||tag_level
													from user_level
													where u_email=#{u_email}))
		and
		post_seq in (select post_seq
					from post_tag
					where tag_seq in (select tag_seq
										from user_tag
										where u_email=#{u_email}))
		and p.u_email = u.u_email
		order by post_dt desc
	</select>	
	
	<!-- 태그별 게시글 리스트 조회 -->
	<select id="tagPostInfoList" resultType="com.smhrd.entity.PostInfo">
		select distinct * from post_info p, user_info u
		where post_seq in (select post_seq
							from post_tag
							where tag_seq=#{tag_seq})
		and p.u_email = u.u_email
		order by post_dt desc
	</select>	
	
	
	<!-- 게시글 종류별 전체 리스트 조회 -->
	<select id="postKindList" resultType="com.smhrd.entity.PostInfo">
		select *
		from post_info p, user_info u
		where p.u_email=u.u_email
		and p.post_kind=#{post_kind}
	</select>

	<!-- 게시글 작성 -->
	<insert id="postInfoWrite" parameterType="com.smhrd.entity.PostInfo">
		insert into post_info
		values(
			post_info_seq.nextval,
			#{post_title},
			#{post_content},
			#{post_file, jdbcType=VARCHAR}, <!-- null 값을 허용하기 위해 Type 설정 -->
			sysdate,
			#{u_email},
			0,
			0,
			#{post_kind},
			0,
			0
		)
	</insert>
	
	<!-- 게시글 1개 조회 -->
	<select id="postInfoView" resultType="com.smhrd.entity.PostInfo">
		select * from post_info p, user_info u
		where p.u_email=u.u_email
		and p.post_seq=#{post_seq}
	</select>
	
	<!-- 게시글 좋아요수 조회 -->
	<select id="postLikesView" resultType="int">
		select count(*)
		from like_info
		where post_seq=#{post_seq}
	</select>
	
	<!-- 게시글 북마크수 조회 -->
	<select id="bookmarksView" resultType="int">
		select count(*)
		from bookmark_info
		where post_seq=#{post_seq}
	</select>
	
	<!-- 세션 유저 레벨 조회 -->
	<select id="userLevelView" parameterType="com.smhrd.entity.UserLevel"
	resultType="com.smhrd.entity.UserLevel">
		select * from user_level
		where u_email=#{u_email}
	</select>
	
	<!-- 게시물 유저 레벨 등록 -->
	<insert id="postLevelSetting" parameterType="com.smhrd.entity.UserLevel">
		insert into post_level
		values(
			post_info_seq.currval,
			#{tag_seq},
			#{tag_level}
		)
	</insert>
	
	<!-- 해시태그 추가 -->
	<insert id="tagInsert">
		insert into tag
		values(
			tag_seq.nextval,
			#{tag_seq}
		)
	</insert>
	
	<!-- 해시태그 전체 조회 -->
	<select id="tagListView" resultType="com.smhrd.entity.Tag">
		select * from tag
	</select>
	
	<!-- 해시태그 시퀀스 조회 -->
	<select id="tagSeqView" parameterType="com.smhrd.entity.Tag"
	resultType="com.smhrd.entity.Tag">
		select * from tag
		where tag_content=#{tag_content}
	</select>
	
	<!-- 게시물 해시태그 등록 -->
	<insert id="postTagInsert" parameterType="com.smhrd.entity.PostTag">
		insert into post_tag
		values(
			post_info_seq.currval,
			#{tag_seq}
		)
	</insert>
	
	<!-- 게시물 해시태그 조회 -->
	<select id="postTagView" resultType="com.smhrd.entity.Tag">
		select distinct * from tag
		where tag_seq in (select tag_seq
							from post_tag
							where post_seq=#{post_seq}
		)
	</select>
	
</mapper>