<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.PostInfoDAO">

	<!-- 게시글 전체 리스트 조회 -->
	<select id="postInfoList" resultType="com.smhrd.entity.PostInfo">
		select * from  post_info p, user_info u
		where p.u_email = u.u_email
		order by post_dt desc
	</select>
	
	<!-- 게시글 종류별 전체 리스트 조회 -->
	<select id="postKindList" resultType="com.smhrd.entity.PostInfo">
		select *
		from post_info p, user_info u
		where p.u_email=u.u_email
		and p.post_kind=#{post_kind}
	</select>

	<!-- 게시글 작성 -->
	<insert id="postInfoWrite" parameterType="com.smhrd.entity.PostInfo">
		insert into post_info
		values(
			post_info_seq.nextval,
			#{post_title},
			#{post_content},
			#{post_file, jdbcType=VARCHAR}, <!-- null 값을 허용하기 위해 Type 설정 -->
			sysdate,
			#{u_email},
			0,
			0,
			#{post_kind},
			0,
			0
		)
	</insert>
	
	<!-- 게시글 1개 조회 -->
	<select id="postInfoView" resultType="com.smhrd.entity.PostInfo">
		select * from post_info p, user_info u
		where p.u_email=u.u_email
		and p.post_seq=#{post_seq}
	</select>
	
	<!-- 게시글 좋아요수 조회 -->
	<select id="postLikesView" resultType="int">
		select count(*)
		from like_info
		where post_seq=#{post_seq}
	</select>
	
	<!-- 게시글 북마크수 조회 -->
	<select id="bookmarksView" resultType="int">
		select count(*)
		from bookmark_info
		where post_seq=#{post_seq}
	</select>
	
</mapper>