<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.UserLanguageInfoDAO">

	<insert id="insertMyLanguage"
			parameterType="com.smhrd.entity.UserLanguageInfo">
			INSERT INTO user_language_info
			VALUES
			    (#{u_email}, 
			     #{html}, 
			     #{css}, 
			     #{javascript}, 
			     #{c_sharp}, 
			     #{java}, 
			     #{python},
			     #{php},
			     #{dart},
			     #{typescript},
			     #{kotlin},
			     #{go},
			     #{rust},
			     #{swift},
			     #{scala},
			     #{objective_c},
			     #{r},
			     #{ruby},
			     #{haskell},
			     #{clojure},
			     #{sql},
			     #{language_etc}			     
			     )
	</insert>
	<update id="updateMyLanguage"
			parameterType="com.smhrd.entity.UserLanguageInfo">
			UPDATE user_language_info
			SET
			    u_email = #{u_email}, 
			    html = #{html}, 
			    css = #{css}, 
			    javascript = #{javascript}, 
			    c_sharp = #{c_sharp}, 
			    java = #{java}, 
			    python = #{python},
			    php = #{php},
			    dart = #{dart},
			    typescript = #{typescript},
			    kotlin = #{kotlin},
			    go = #{go},
			    rust = #{rust},
			    swift = #{swift},
			    scala = #{scala},
			    objective_c = #{objective_c},
			    r = #{r},
			    ruby = #{ruby},
			    haskell = #{haskell},
			    clojure = #{clojure},
			    sql = #{sql},
			    language_etc = #{language_etc}	
			WHERE u_email = #{u_email};
	</update>
	
	
</mapper>