<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.UserDBInfoDAO">
	
	<insert id="checkDB"
			parameterType="com.smhrd.entity.UserDBInfo">
			INSERT INTO user_db_info
			VALUES
			(#{u_email},
			#{mysql},
			#{oracle},
			#{mariadb},
			#{pstgresql},
			#{mongodb},
			#{redis},
			#{sqlite},
			#{aws_aurora},
			#{elasticsearch},
			#{dynamodb},
			#{firebase},
			#{tibero},
			#{hive},
			#{cassandra},
			#{db_etc}
			)
	</insert>
	<update id="updateDB"
			parameterType="com.smhrd.entity.UserDBInfo">
			UPDATE user_db_info
			SET
			    u_email = #{u_email}, 
			    mysql = #{mysql}, 
			    oracle = #{oracle}, 
			    mariadb = #{mariadb}, 
			    pstgresql = #{pstgresql}, 
			    mongodb = #{mongodb}, 
			    redis = #{redis},
			    sqlite = #{sqlite},
			    aws_aurora = #{aws_aurora},
			    elasticsearch = #{elasticsearch},
			    dynamodb = #{dynamodb},
			    firebase = #{firebase},
			    tibero = #{tibero},
			    hive = #{hive},
			    cassandra = #{cassandra},
			    db_etc = #{db_etc},
			WHERE u_email = #{u_email}
	</update>
</mapper>