<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.dao.CommentInfoDAO">
	
	<!-- 마이페지이 레벨 저장 -->
 	<insert id="userLevelSetting" parameterType="com.smhrd.entity.UserLevel">
		insert into user_level
		values(
			#{u_email},
			#{tag_seq},
			#{tag_level}
		)
	</insert>	
	
	<!-- 마이페이지 레벨 초기저장 -->
 	<insert id="userLevelFirstSetting" parameterType="com.smhrd.entity.UserLevel">
		insert into user_level
		values(
			#{u_email},
			#{tag_seq},
			1
		)
	</insert>	
	
	
</mapper>